{% load html %}{% doctype "html5" %}
<html>
  <head>
    {% load compress %}
    <title>{% block title %}Cobra Commander{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% compress css %}
      {% block stylesheets %}
        <link type="text/x-scss" rel="stylesheet" href="{{ STATIC_URL }}scss/screen.scss" charset="utf-8">
      {% endblock stylesheets %}
    {% endcompress %}
  </head>
  <body class="{% block body-class %}{% endblock body-class %}">
    <div id="container">
      {% include "_common/_header.html" %}
      <section role="main">
        <div>
          {% block main %}{% endblock main %}
        </div>
        <aside id="build-queue"></aside>
      </section>
    </div>
    {% set_onload_handler "build_queue" %}
    {% get_onload_handlers as handlers %}
    {% if handlers %}
      <script type="text/javascript">window.onload_handlers = {{ handlers }};</script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/vendor/require.1.0.3.js" data-main="{{ STATIC_URL }}javascripts/app"></script>
  </body>
</html>
