{% load html %}{% doctype "html5" %}
<html>
  <head>
    {% load compress %}
    <title>{% block title %}Cobra Commander{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% compress css %}
      {% block stylesheets %}
          <link type="text/x-scss" rel="stylesheet" href="{{ STATIC_URL }}scss/screen.scss" charset="utf-8">
      {% endblock stylesheets %}
    {% endcompress %}
  </head>
  <body class="{% block body-class %}{% endblock body-class %}">
    <div id="container">
      {% include "_common/_header.html" %}
      <section role="main">
        {% block main %}{% endblock %}
      </section>
    </div>
    <script type="text/javascript" src="//:9000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="//:9000/static/javascripts/socket.io.channels.js"></script>
    {% compress js %}
      <script type="text/javascript" src="{{ STATIC_URL }}javascripts/vendor/jquery.1.7.1.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}javascripts/vendor/json2.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}javascripts/vendor/minpubsub.js"></script>
    {% endcompress %}
    <script type="text/javascript">
      $(function(){
        var socket = new io.Socket('localhost', {'port':9000});
        socket.on('connect', function() {
          console.log('socket:connected');
          socket.subscribe('test');
        });
        socket.on('disconnect', function() {
          console.log('socket:disconnect');
        });
        socket.on('message', function(data) {
          console.log('socket:message', data);
        });
        socket.connect();
        console.log(socket);
      });
    </script>
  </body>
</html>
